.Main-Background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.products-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  width: 677px;
  height: 364px;
  top: 211px;
  left: 382px;
}
.failure-heading {
  width: 474px;
  height: 44px;
  top: 623px;
  left: 484px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #334155;
}
.failure-para {
  width: 198px;
  height: 24px;
  top: 683px;
  left: 622px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  background: #64748b;
}
.container {
  padding: 20px;
  background-color: #f6f8fb;
  background-size: cover;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.questions-Container {
  /* width: 928px; */
  width: 100%;
  height: 800px;
  top: 120px;
  left: 32px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question {
  height: 25px;
  top: 168px;
  left: 80px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  padding: 18px;

  color: #164687;
}
.line {
  width: 80%;
  height: 1px;
  top: 222px;
  left: 81px;
  border: 1;
  border: 1px solid #9797973f;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.space-between-btn-questions {
  display: flex;
  flex-direction: column;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 100px;
  margin-top: 12%;
  margin-bottom: 20px;
}
.next-button {
  width: 130px;
  height: 36px;
  background: #164687;
  border: 0px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.timer-container {
  display: flex;
  margin-left: 30px;
}

.question-numbers-container {
  width: 416px;
  height: 777px;
  top: 181px;
  left: 992px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}

.questions-count-Timer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.questions-container {
  display: flex;
  flex-direction: column;

  width: 416px;
  height: 777px;
  top: 181px;
  left: 992px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}

.content {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 45px;
}
.content2 {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.align-items {
  display: flex;
  flex-direction: column;
}
.question-count-container {
  display: flex;
  flex-direction: row;
}
.question-content {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  width: 150px;
  height: 20px;
  top: 31px;
  left: 58px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #496387;
}
.question-number {
  width: 34px;
  height: 34px;
  padding-top: 5px;
  gap: 0px;
  opacity: 0px;
  background: #7c599f;
  text-align: center;
  border-radius: 50px;
  margin-right: 8px;
}
.color-number {
  border: 1px solid #cbd5e1;
  background-color: white;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 29px;
  width: 416px;
  height: 777px;
  top: 181px;
  left: 992px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 15px 0px #dae4fa80;
  margin-top: 12px;
}

.question-container-line {
  width: 100%;
  height: 0px;
  top: 90px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-left: 28px;
  border: 1px solid #e2e8f0;
}
.questions {
  width: 120px;
  height: 30px;
  top: 114px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #164687;
  margin-left: 28px;
}

.numbers-list {
  list-style-type: none;
}
.space-between-items-and-sumbit-btn {
  display: flex;
  flex-direction: column;
}

.question-numbers-submit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
}
.btn-submit {
  width: 384px;
  height: 48px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #164687;
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background-color: white;
  color: #164687;
}
.questions-btn-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 29px;
  box-shadow: 0px 0px 15px 0px #dae4fa80;
  width: 416px;
  height: 600px;
  top: 181px;
  left: 992px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  margin-top: 12px;
}
